subject = "Thank you for getting in touch!"
==
Thank you for getting in touch!
We appreciate you for contacting us. We try to respond as soon as possible, so one of our Customer Service colleagues will get back to you within a few hours.
Have a great day ahead!
==
Hello {{name}}
<br />
<strong>Thank you for getting in touch!</strong>
<p>
    We appreciate you for contacting us. We try to respond as soon as possible, so one of our Customer Service colleagues will get back to you within a few hours.
    Have a great day ahead!
</p>